{% extends 'base.html' %}

{% block content %}
{% load static %}
<title>История ваших заявок</title>
<div class="wrapper">
<table class="mytable">

<thead>
<tr>
<th colspan="8"><p>История заявок</p></th>
</tr>
 <tr>
     <th scope="col">№</th>
     <th scope="col">Тема</th>
     <th scope="col">Оборудование/ПО</th>
     <th scope="col">Тип</th>
     <th scope="col">Приоритет</th>
     <th scope="col">Отправлено</th>
    <th scope="col">Выполнено</th>
    <th scope="col">Исполнитель</th>
    </tr>
</thead>
<tbody>
    {% for t in ticket_list %}
            <tr>
              <td> {{ t.id }}</td>
                <td>{{ t.title }}</td>
                <td>{{ t.equipment }}</td>

                <td>{{ t.type }}</td>
                       <td style="
          {% if t.priority == 'высокий' %}
              color: #ff2424; border-color: #c5cae3;
          {% elif t.priority == 'средний' %}
              color: #fa0; border-color: #c5cae3;
          {% elif t.priority == 'низкий' %}
              color: #339c0c; border-color: #c5cae3;
          {% endif %}">
                           {{ t.priority }}
</td>
                <td>{{ t.opened_date |date:"m.d.Y" }}</td>
                <td>{{ t.closed_date |date:"m.d.Y" }}</td>
                <td>{{ t.empl.first_name }} {{ t.empl.last_name }}</td>






            </tr>

    {% endfor %}
</tbody>

</table>
    </div>

    <div class="filter-container">
    <form method="get" action="">
    <button  type="submit" name="sort" value="earliest">раньше <i> <img src="{% static 'helpdesk/images/pch2.png' %}" alt=Выход border="0" /></i></button>
    <button  type="submit" name="sort" value="latest">позже <i> <img src="{% static 'helpdesk/images/pch.png' %}" alt=Выход border="0" /></i></button>
    </form>
     </div>


{% endblock %}


