{% extends 'base.html' %}

{% block content %}
{% load static %}
 <title>Заявки без исполнителя</title>
<div class="wrapper">
<table class="mytable">
<thead>
<tr>
<th colspan="9"><p>Мои заявки без исполнителя</p></th>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Тема</th>
      <th scope="col">Оборудование/ПО</th>
      <th scope="col">Тип</th>
      <th scope="col">Приоритет</th>
     <th scope="col">Отправлено</th>
    <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>

</thead>
<tbody>
    {% for t in ticket_list %}
            <tr>
                <td><a class="link" title="Посмотреть детели" href="{% url 'my_ticket_detail' t.id %}">{{ t.id }}</a></td>
                <td><a class="link" title="Посмотреть детели" href="{% url 'my_ticket_detail' t.id %}">{{ t.title }}</a></td>
                <td><a class="link" title="Посмотреть детели" href="{% url 'my_ticket_detail' t.id %}">{{ t.equipment }}</a></td>
                <td><a class="link" title="Посмотреть детели" href="{% url 'my_ticket_detail' t.id %}">{{ t.type }}</a></td>
                      <td>
    <a class="link" title="Посмотреть детели" href="{% url 'my_ticket_detail' t.id %}"
       style="
          {% if t.priority == 'высокий' %}
              color: #ff2424; border-color: #c5cae3;
          {% elif t.priority == 'средний' %}
              color: #fa0; border-color: #c5cae3;
          {% elif t.priority == 'низкий' %}
              color: #339c0c; border-color: #c5cae3;
          {% endif %}"
    >
        {{ t.priority }}
    </a>
</td>
                <td><a class="link" title="Посмотреть детели" href="{% url 'my_ticket_detail' t.id %}">{{ t.opened_date|date:"m.d.Y" }}</a></td>
                <td>
                    <button class="close-button">
                    <a href="{% url 'edit_ticket' t.id %}"  title="Редактировать">
                       <i> <img src="{% static 'helpdesk/images/pencil.png' %}" alt="Редактировать" border="0" /></i>
                    </a>
                    </button>
                </td>
                <td>
                    <form method="post" action="{% url 'delete_ticket' t.id %}">
                        {% csrf_token %}
                        <button title="Удалить" class="close-button" type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту заявку?')" >
                            <i> <img src="{% static 'helpdesk/images/trash.png' %}" alt="Удалить" border="0" /></i>
                        </button>
                    </form>
                </td>
            </tr>

    {% endfor %}
</tbody>
</table>
</div>
 <div class="filter-container">
    <form method="get" action="">
    <button  type="submit" name="sort" value="earliest">раньше <i> <img src="{% static 'helpdesk/images/pch2.png' %}" alt=Выход border="0" /></i></button>
    <button  type="submit" name="sort" value="latest">позже <i> <img src="{% static 'helpdesk/images/pch.png' %}" alt=Выход border="0" /></i></button>
    </form>
     </div>
{% endblock %}



