{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="cat-menu">
<form action="" method="get">

    <select  class="filter-manual" name="cat">
        <option value="">Все категории</option>
        <option value="1">серьёзные</option>
        <option value="2">хаахаххахтульки</option>
    </select>
    <button type="submit"><img src="{% static 'helpdesk/images/filtr.png' %}" class="plus"></button>


</form>

    </div>

<div class="manuals">
    <ul class="list-articles">
        {% for p in posts %}
            <li>
                <div class="article-panel">
                    <p class="first">Категория: {{p.cat.name}} | автор: {{ p.author.first_name|p.author.last_name|default:"неизвестен" }}</p>
                    <p class="last">Дата: {{p.time_update|date:"d-m-Y"}}</p>
                </div>

                <h2>{{p.title}}</h2>
                {% autoescape off %}
                    {{p.content|linebreaks|truncatewords:40}}
                {% endautoescape %}
                <div class="clear"></div>
                <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

