{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>База знаний</title>
<div class="cat-menu">
    <form class="" method="get">
<select class="filter-manual" name="cat">
    <option value="">Все категории</option>
    {% for cat in categories %}
        <option value="{{ cat.id }}">{{ cat.name }}</option>
    {% endfor %}
</select>
    <button type="submit"><i><img src="{% static 'helpdesk/images/filtr.png' %}" class="plus"></i></button>
    </form>
</div>
<div class="manuals">
    <ul class="list-articles">
        {% for p in posts %}
            <li>
                <div class="article-panel">
                    <p class="first">Категория: {{p.cat.name}} | автор: {{ p.author.first_name }} {{ p.author.last_name }}</p>
                    <p class="last">Дата: {{p.time_update|date:"d-m-Y"}}</p>
                </div>
                <h2>{{p.title}}</h2>
                <p>
                {% autoescape off %}
                    {{p.content|linebreaks|truncatewords:40}}
                {% endautoescape %}
                </p>
                <div class="clear"></div>
                <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


