{% extends 'base.html' %}

{% block content %}
{% load static %}
<title>Детали заявки № {{ ticket.id }}</title>
<div class="form-my-ticket">



      <h2>Данные о заявке № {{ ticket.id }}</h2>
    <p><strong>Тема: </strong>{{ ticket.title }}</p>
    <p><strong>Оборудование:</strong> {{ ticket.equipment }}</p>
    <p><strong>Дата открытия:</strong> {{ ticket.opened_date|date:"d.m.Y"  }}</p>
    <p><strong>Тип обращения:</strong> {{ ticket.type }}</p>
    <p><strong>ФИО заявителя:</strong> {{ ticket.user.first_name }} {{ ticket.user.last_name }} </p>
    <p><strong>Телефон:</strong> {{ ticket.user.number_phone }}</p>
    <p><strong>Приоритет:</strong> {{ ticket.priority }}</p>
    <p><strong>Адрес магазина/офиса:</strong> {{ ticket.user.adress }}</p>
    <p><strong>№ кабинета: </strong> {{ ticket.user.cabinet}}</p>
    <p><strong>Описание:</strong></p> <p class="description-details">{{ ticket.description }}</p>

</div>

{% endblock %}