{% extends 'base.html' %}

{% block content %}
{% load static %}
<title>Детали заявки № {{ ticket.id }}</title>
<div class="form-my-ticket">


    <h2>Данные о заявке № {{ ticket.id }}</h2>

    <h3><strong>Тема:</strong>{{ ticket.title }}</h3>
    <p><strong>Оборудование:</strong> {{ ticket.equipment }}</p>
    <p><strong>Дата открытия:</strong> {{ ticket.opened_date|date:"m.d.Y"  }}</p>
    <p><strong>Тип обращения:</strong> {{ ticket.type }}</p>
    <p><strong>ФИО заявителя:</strong> {{ ticket.user.first_name }} {{ ticket.user.last_name }} </p>
    <p><strong>Телефон:</strong> {{ ticket.user.number_phone }}</p>
    <p><strong>Приоритет:</strong> {{ ticket.priority }}</p>
    <p><strong>Адрес магазина/офиса:</strong> {{ ticket.user.adress }}</p>
    <p><strong>№ кабинета: </strong> {{ ticket.user.cabinet}}</p>
    <p><strong>Описание:</strong></p> <p class="description-details">{{ ticket.description }}</p>


    <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                <button class="button_styles" type="submit">Начать выполнение</button>
            </form>






</div>

{% endblock %}