{% extends 'base.html' %}

{% block content %}


<title>Редактирование профиля</title>
<div class="my-profile">
<form  method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% if user.photo %}
    <p><img src="{{ user.photo.url }}">
    {% else %}
    <p><img src="{{ default_image }}">
    {% endif %}

    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><p class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </p>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button class="button_styles" type="submit">Сохранить</button></p>
</form>



</div>
{% endblock %}
